
}
.section{
margin-top: 20px;
text-align: center;
  
}
.container{
  margin-top: 40px;
  text-align: center;
}
.form-group{
  font-size: 15px;
  text-align: center;
  width: 50%;
  height: 50%;

}
.form-button{
  text-align: left;

}    
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: hsl(182, 58%, 52%);
    }

    .container {
      width: 50%;
      margin: 0 auto;
      background-color: white;
      border-radius: 30px;
      border: transparent;
      font-family: "Mitr", sans-serif;
      margin-top: 100px;
      padding-top: 5px;
      padding-bottom: 30px;
    }

    h1 {
      text-align: center;
    }

    .form-group {
      margin: 10px 200px 0px 200px;
      padding: 3px 150px 6px 1px;
    }

    input[type="text"] {
      border: 1px solid rgb(199, 198, 198);
      border-radius: 10px;
      padding: 3px 200px 6px 3px;
    }

    input[type="password"] {
      border: 1px solid rgb(199, 198, 198);
      border-radius: 10px;
      padding: 3px 200px 6px 3px;
    }

    button[type="submit"] {
      border-collapse: collapse;
      border: transparent;
      border-radius: 15px;
      font-family: "Mitr", sans-serif;
      color: black;
      margin: 15px 0px 5px 310px;
      padding: 5px 50px 5px 50px;
      background-color: #298dba;
      transition: 0.5s;
    }

    button[type="submit"]:hover {
      color: rgb(255, 255, 255);
      background-color: #fd7e1b;
    }

    .returnlogin {
      text-decoration: none;
      font-size: 13px;
      border-collapse: collapse;
      border: transparent;
      border-radius: 15px;
      color: white;
      margin: 15px 0px 0px 220px;
      padding: 5px 50px 5px 50px;
      background-color: #2883a7;
      transition: 0.5s;
    }

    .form-control {
      font-family: "Mitr", sans-serif;
    }

    .returnlogin:hover {
      background-color: #298dba;
      color: white;
    }

    
    

    .footer p {
    text-align: right;
    margin-right: 50px;
    position: relative;
    }